<div class="container">
  <h2>Students</h2>
  {{#each student as model}}
    <h3>Student: {{student.name}}</h3>
    <h3>Age: {{student.age}}</h3>
  {{/each}}
  <button {{action "logout"}}>Log Out</button>
</div>
